# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [2]:
a = 5
b = 5
print(id(a) == id(b))
print(a == b)

True
True

змінні a і b будуть рівні і за значенням і за місцем в пам'яті

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [3]:
print(isinstance(True, bool))
print(isinstance(True, int))
print(isinstance(True, str))

True
True
False

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [4]:

c = 9
d = 3.0
print( c * d )
print( c + d )
print( c - d )
print( c / d )
print( c // d)
print( c % d )
print( c ** d)

27.0
12.0
6.0
3.0
3.0
0.0
729.0

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [5]:
print(int(d))

3

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [6]:
string_1 = ''
string_2 = ""

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [7]:
my_str = "’"
raw_str = r"’"
print(my_str)
print(raw_str)

’
’

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [8]:
surname = 'Loha'
my_string = f'My surname is {surname}'
print(my_string)

My surname is Loha

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [9]:
given_srt = "My dog is crazy."
lowercase_str = given_srt.lower()
no_dot_str = lowercase_str.replace('.', '')
new_list = no_dot_str.split(" ")
print(new_list)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [10]:
list_1 = [1, 3, 4, 5, 7]
list_2 = list((1, 3, 4, 5, 7))
list_len = len(list_1)
print(list_len)

5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [11]:
first_list = [1, 3, 4]
second_list = [5, 6, 8]
first_list.append(second_list)
print(first_list)

[1, 3, 4, [5, 6, 8]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [12]:
list_of_str = [['ab', 'cd', 'ef'], ['carrot', 'potato', 'onion'], ['target', 'middle', 'last']]
target_element = list_of_str[-1][0]
print(target_element)

target

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [13]:
list_of_10 = [1, 2, ['str'], 'string', 5, True, False, (27, 55), "nine", 10]
final_list = list_of_10[2:-2]
print(final_list)

[['str'], 'string', 5, True, False, (27, 55)]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [14]:
new_tuple = (5,)
print(type(new_tuple))

<class 'tuple'>

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

*місце для текстової відповіді

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [15]:
tuple_11 = (1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8, 9.9, 10.0, 11.1)
reversed_even_tuple = tuple_11[-2::-2]
print(reversed_even_tuple)

(10.0, 8.8, 6.6, 4.4, 2.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [16]:
new_set = set()
new_set.add(5)
print(new_set)
print(id(new_set))
new_set.add('7')
new_set.add(list[4, 9])
print(new_set)
print(id(new_set))

{5}
132021545697344
{list[4, 9], '7', 5}
132021545697344

Set це змінний/мутабельний тип даних.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [17]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set_from_list = set(my_list)
print(set_from_list)

{1, 2, 67, 8, 9}

множини і послідовності не включають повторювані елементи

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [18]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}
union_set = set_1.union(set_2)
diff_set = set_1.difference(set_2)
common_set = set_1.intersection(set_2)
sym_diff_set = set_1.symmetric_difference(set_2)
output = f"Union: {union_set}, difference: {diff_set}, intersection: {common_set}, sym diff: {sym_diff_set}"
print(output)

Union: {1, 2, 3, 4, 5, 6, 7}, difference: {1, 2}, intersection: {3, 4, 5}, sym diff: {1, 2, 6, 7}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
new_dict = {"String": str, 2.0: float, True: bool, ('tuple',): tuple}
print(new_dict)

List не може бути ключем, бо ключі dict мають бути не мутабельними/незмінними.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [19]:
nest_dict = {1: 1, 2: 2, 3: 3 }
sec_dict = {"Nested dict": nest_dict}
main_dict = {"Secondary dict": sec_dict}
print(main_dict["Secondary dict"]["Nested dict"])

{1: 1, 2: 2, 3: 3}

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.